/* You can add global styles to this file, and also import other style files */

@import "bootstrap/dist/css/bootstrap.min.css";

/* .footer{
    position:absolute;
    bottom:0;
    width:100%;
    height:70px;
    background-color:#0D6EFD;
    text-align: center;
    color:white;

} */
html, body {
    height: 100%;
    margin: 0;
  }
  
  .footer {
    background-color: #0D6EFD;
    text-align: center;
    color: white;
    height: 70px;
    padding-top: 20px;
  }
  